[Desktop Entry]
Name=ABCJ
GenericName=Editeur de fichiers ABC

Icon=/home/gwen/code/abcj/icons/abcj.png

Type=Application
Categories=AudioVideo;Audio;AudioVideoEditing;

Exec=java -cp /home/gwen/code/abcj/target/ABCJ-1.9-SNAPSHOT.jar com.ganderband.abcj.ABCJ
Path=/home/gwen/code/abcj
Terminal=false
StartupNotify=true
MimeType=text/vnd.abc;
